# IDE - VSCode
.vscode/*
!.vscode/extensions.json
.history/*

# IDE - JetBrains
.idea/*

# .NET
**/bin/**
**/obj/**

# dotENV
.env
.env.*

# secrets
.secrets/*

# TLS Certificates
*.pem
*.p12

# System Files
.DS_Store
Thumbs.db

# .NET
bin/
obj/