services:
  redis:
    # https://hub.docker.com/_/redis
    image: docker.io/library/redis
    restart: always
    healthcheck:
      test: redis-cli -h localhost -p 6379 ping
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 10s
    volumes:
      - redis_data:/data
    ports:
      - 127.0.0.1:6379:6379

volumes:
  redis_data:
