name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: '**/*.md'
      - name: Lint Dockerfile
        uses: reviewdog/action-hadolint@v1
      - name: Lint shell script
        uses: reviewdog/action-shellcheck@v1
